<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 🌎 practice-web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div id="app">
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div v-for="part in parts" class="card">
          <div class="card-header" role="tab">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" :href="'#' + part.href" aria-expanded="true">
              {{ part.name }}
              </a>
            </h5>
          </div>
          <div :id="part.href" class="collapse" role="tabpanel" >
            <div class="card-block">
              <ul class="list-group" v-if="part.tasks.length">
                <li v-for="task in part.tasks" class="list-group-item">
                  <a :href="task.href">
                    {{ task.name }}
                  </a>
                </li>
              </ul>
              <div v-else>
                Nothing here :(
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  </body>
</html>
