body {
  font: +2;
}

table {
  text-align: center;
}

th {
  text-align: center;
  color: #eee;
  background: #2e3134;
}

tr:nth-child(even) {
  background: #ececec
  color: #252525;
}

tr:nth-child(odd) {
  background: #7e7e7e;
  color: #eee;
}

td:first-child {
  width: 250px;
}

th, td {
  padding: 20px 0;
}

td:not(:first-child) {
  width: 100px;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-flex;
}

li:nth-child(1) { font-size: 25px; }
li:nth-child(2) { font-size: 21px; }
li:nth-child(3) { font-size: 17px; }
li:nth-child(4) { font-size: 13px; }
li:nth-child(5) { font-size: 9px; }
